@mixin common {
  position: relative;
  z-index: 2;
  width: 100%;

  grid-area: hd;

  font-weight: bold;
  white-space: pre-line;
  text-align: center;
  text-transform: uppercase;
}

.title {
  @include common;

  margin: 0 0 50px 0;

  font-size: larger;
  font-weight: bold;
  white-space: pre-line;

  text-shadow: 0 2px 4px rgb(71 97 206 / 36%);

  @media (max-width: 768px) {
    font-size: large;
  }
}

.pageTitle {
  @include common;

  text-align: left;
  text-shadow: 0 2px 4px #3e4c589e;

  @media (max-width: 768px) {
    font-size: small;
  }
}

.containerTitle {
  @include common;

  text-align: left;
  text-shadow: 0 2px 4px #3e4c589e;
}