.timeManagement {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 20px auto;

  height: 100%;
  max-height: 100%;
  width: 97%;

  .pageTitle {
    width: 100%;
    margin: 50px 0 0 0;
    text-align: center;
    text-transform: uppercase;
  }

  .targets {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 10px;

    width: 20%;
    aspect-ratio: 1 / 1;

    background: #8c91914f;
    border-radius: 50%;

    text-align: center;


    @media (max-width: 425px) {
      width: 100%;
    }

    svg {
      width: 100%;
      font-size: 4rem;
      color: steelblue;
    }

    p {
      font-size: 0.9rem;
      padding: 12px;
    }
  }

  .topContent, .middleContent, .bottomContent {
    position: relative;
    z-index: 2;

    width: 100%;
    margin: 0 auto;

    min-height: 50px;
    padding: 15px;

    background: rgb(255 255 255 / 48%);
    box-shadow: 0 8px 32px 0 rgb(62 62 62 / 37%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 12px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .title {
      display: flex;
      align-items: baseline;
      gap: 10px;

      font-size: x-large;
      color: black;
      text-transform: uppercase;
    }

    p {
      display: flex;
      gap: 15px;
      width: 100%;

      font-weight: 600;
      font-size: medium;
      white-space: pre-line;

      &.listItem {
        position: relative;
        align-items: center;
        margin: 0 0 0 60px;

        &:before {
          content: '';
          position: absolute;
          height: 8px;
          width: 8px;
          left: -20px;
          border-radius: 50%;
          background: black;
        }
      }
    }

    .normal {
      text-align: left;
    }
  }

  .botContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    z-index: 2;

    .item {
      display: flex;
      justify-content: center;
      align-content: flex-start;
      flex-wrap: wrap;

      width: 30%;
      padding: 10px;

      background: rgb(232 232 232 / 38%);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 12px;

      @media (max-width: 425px) {
        width: 100%;
      }

      h1 {
        font-size: 50px;
        line-height: 50px;

        width: 12%;
        color: #ef7f1a;
      }

      p {
        flex: 1;
        padding: 0 0 0 5px;
        text-align: left;
      }
    }
  }
}