.individual {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;

  z-index: 2;
  margin: 0 auto;

  height: 100%;
  max-height: 100%;
  width: 97%;


  p {
    color: black;
    text-align: left;
  }

  .blockTwo {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    z-index: 2;

    column-gap: 30px;

    width: 100%;

    border-radius: 20px;


    :nth-child(2) {
      transform: rotate(45deg);
      padding-left: 100px;
    }

    :nth-child(3) {
      transform: rotate(360deg);
    }

    :nth-child(4) {
      padding-right: 100px;
      transform: rotate(-45deg);
    }

    i {
      width: 30%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      height: 60px;
      font-size: 3rem;
      text-align: center;
      line-height: 60px;
      z-index: 3;
      color: black;
      margin-bottom: 50px;

      @media (max-width: 768px) {
        display: none;
      }
    }

    .reasons {
      min-width: 300px;
      text-align: left;
    }
  }

  .blockThree {
    z-index: 2;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 15px;

    width: 100%;
    padding: 15px;

    border-radius: 20px;
    border: 2px #ef7f1a solid;

    .dropdownBox {
      position: relative;
      z-index: 2;

      width: 100%;
      margin: 0 auto;

      min-height: 50px;
      padding: 15px;

      background: rgba(160, 157, 151, 0.4);
      box-shadow: 0 8px 32px 0 rgb(62 62 62 / 37%);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 12px;

      &[open] > .dropdownTitle::after {
        content: "-";
      }


      .dropdownTitle {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-height: 30px;

        .dropdownMassage {
          width: 90%;
          padding: 15px 0;
          text-shadow: 0 2px 4px rgb(71 97 206 / 36%);
        }

        &:after {
          content: "+";
          display: flex;
          align-items: center;
          justify-content: center;

          width: 30px;
          height: 30px;

          background: white;
          border-radius: 50%;

          color: black;
          font-size: 1.5em;
          font-weight: normal;
          box-shadow: 0 3px 6px rgba(0, 0, 0, .275);
        }
      }
    }
  }

  .blockFour {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h2 {
      width: 100%;
    }

    .item {
      display: flex;
      flex: 1;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 15px;

      min-height: 150px;

      border-left: 2px white solid;
      border-right: 2px white solid;

      @media (max-width: 768px) {
        flex: 100%;
        border: none;
      }

      &:first-child {
        border-right: none;
      }

      &:last-child {
        border-left: none;
      }
    }
  }

}