.footer {
  width: 100%;
  margin: 50px auto 0 auto;
  background: #dfe6e9;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.footer .title {
  color: dimgrey;
}
.footer .title.underlined {
  margin-bottom: 40px;
  position: relative;
}
.footer .title.underlined::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff8C21;
}
.footer .row {
  width: 100%;
  display: flex;
  padding: 20px;
}
.footer .row .col {
  flex: 1;
  padding: 0 20px 0 20px;
  align-items: center;
}
.footer .infoArea .footerSection {
  background: #151414;
  position: relative;
}
.footer .infoArea .footerCta {
  border-bottom: 1px solid #373636;
}
.footer .infoArea .singleCta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: 20px;
}
.footer .infoArea .singleCta .faLogo {
  color: #ff8C21;
  margin: 0 15px 0 0;
}
.footer .infoArea .singleCta span {
  width: 100%;
  color: #757575;
  font-size: 15px;
}
.footer .infoArea .footerWidget {
  width: 80%;
}
.footer .infoArea .footerWidget .footerLogo {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  max-width: 200px;
}
.footer .infoArea .footerWidget ul {
  width: 100%;
}
.footer .infoArea .footerWidget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer .infoArea .footerWidget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.footer .infoArea .footerWidget ul li a:hover {
  color: #ff8C21;
}
.footer .infoArea .footerWidget .footerSocialIcon {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .infoArea .footerWidget .footerSocialIcon .title {
  width: 100%;
  margin-bottom: 20px;
}
.footer .infoArea .footerWidget .footerSocialIcon a {
  color: cornflowerblue;
}
.footer .infoArea .footerWidget .footerSocialIcon a .faLogo {
  font-size: 30px;
  text-align: center;
}
.footer .infoArea .footerWidget .footerSocialIcon img {
  width: 20%;
  text-align: center;
  border-radius: 50%;
}
.footer .infoArea .footerContent {
  position: relative;
  z-index: 2;
}
.footer .infoArea .footerPattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer .infoArea .footerTextTwo {
  width: 100%;
}
.footer .infoArea .footerTextTwo p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer .infoArea .footerText {
  width: 100%;
}
.footer .infoArea .footerText p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer .infoArea .subscribeForm {
  position: relative;
  overflow: hidden;
}
.footer .infoArea .subscribeForm input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.footer .infoArea .subscribeForm button {
  position: absolute;
  right: 0;
  background: #ff8C21;
  padding: 13px 20px;
  border: 1px solid #ff8C21;
  top: 0;
}
.footer .infoArea .subscribeForm button .faLogo {
  color: #fff;
  font-size: 18px;
  transform: rotate(-6deg);
}
.footer .copyrightArea {
  background: #202020;
  padding: 15px 0;
}
.footer .copyrightArea .copyrightText p {
  margin: 0;
  font-size: 12px;
  color: #878787;
  width: 100%;
}
.footer .copyrightArea .copyrightText p a {
  color: #ff8C21;
}

/*# sourceMappingURL=footer.module.css.map */
